
/***************** Icons ******************/
* {
    font-family: Arial;
    font-size: 12px;
}

@font-face {
    font-family: 'theme-icons';
    src: url('fonts/icons.eot?pzlv7g');
    src: url('fonts/icons.eot?pzlv7g#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?pzlv7g') format('truetype'),
    url('fonts/icons.woff?pzlv7g') format('woff'),
    url('fonts/icons.svg?pzlv7g#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'theme-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-angle-right:before {
    content: "\e90c";
}

.icon-info:before {
    content: "\e90a";
}

.icon-invert:before {
    content: "\e900";
}

.icon-smode:before {
    content: "\e901";
}

.icon-rpower:before {
    content: "\e902";
}

.icon-gfault:before {
    content: "\e903";
}

.icon-env:before {
    content: "\e904";
}

.icon-derating:before {
    content: "\e905";
}

.icon-dchealth:before {
    content: "\e906";
}

.icon-apower:before {
    content: "\e907";
}

.icon-achealth:before {
    content: "\e908";
}

.icon-conext:before {
    content: "\e909";
}

.icon-sun:before {
    content: "\e90b";
}

.icon-loop:before {
    content: "\ea2e";
}

body {
    background: #fafafa;
    min-width: 320px;
}

h1, h2, h3 {
    color: #3dcd58;
}

div {
    box-sizing: border-box;
}

.clear-fix {
    clear: both;
}

#app-container {
    max-width: 1024px;
    margin: 0 auto;
}

/*************************** Login Page ****************/
#login-card {
    width: 100%;
    position: relative;

}

#login-card-body {
    display: table;
    width: 100%;
    height: 100vh;
    min-height: 600px;
}

#login-card-body .left,
#login-card-body .right {
    display: table-cell;
    vertical-align: top;
    position: relative;
}

#login-card-body .left {
    position: relative;
    width: 50%;
    min-height: 300px;
    background: url("../../assets/images/bg.jpg") no-repeat;
    background-size: cover;
    border-right: 20px solid #32ad3b;
}

#login-card-body .left h1,
#login-card-body.left h3 {
    text-align: center;
}

#login-card-body .left h1 {
    margin-top: -1em;
}

.icon-conext {
    font-size: 14em;
    display: block;
    text-align: center;
}

#login-card-bottom,
#login-card-top,
#login-card-bottom a,
#login-card-top h1,
#login-card-top h3 {
    color: #ffffff;
}

#login-card-top {
    position: absolute;
    width: 48%;
    top: 100px;
    left: 1%;
    z-index: 3;
    text-align: center;
}

#login-card-bottom a {
    text-decoration: underline;
}

#login-card-bottom p {
    margin-top: 20px;
}

#login-card-bottom {
    position: absolute;
    width: 46%;
    bottom: 20px;
    left: 3%;
}

#login-card-bottom .footer-info i.icon-info {
    font-size: 1.5em;
}

#login-card-body .right {
    width: 50%;
    background: #ffffff;
    padding: 30px 30px 5px 30px;
    border-left: 20px solid #3ecd59;

}

#login-card-body .status-form,
#login-card-body .login-form {
    padding: 30px;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
}

#login-card-body .status-form {
    background: #eee;
}

#login-card-body .status-form h2.title {
    display: inline-block;
    font-size: 2em;
    margin-top: 0;
}

#login-card-body .status-form .refresh {
    float: right;
}

#login-card-body .btn-form {
    width: 100%;
    text-align: center;
}

#login-card-body .select-list,
#login-card-body .select-list [type="button"] {
    width: 100%;
}

#login-card-body.select-list [type="button"] {
    border-bottom: 2px solid red;
    border-radius: 0;
}

#login-card-body .login-form .form-control {
    border-bottom: 2px solid #3dcd58;
    border-top: none;
    border-left: none;
    border-right: none;
}

#login-card-body .login-form .submit {
    margin-top: 20px;
    background: #3dcd58;
    border-color: #3dcd58;
    color: #ffffff;
}

#login-card-body .off-line-mode {
    background: #eee;
    border-color: #eee;
    color: #747474;
}

#login-card-body .footer-logo {
    position: absolute;
    bottom: 10px;
    right: 0px;
    text-align: right;
}

/***********************  Inverter page *******************/


#inverter-card {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

#inverter-card span {
    font-weight: bold;

}

#inverter-card .title {
    background: #3dcd58;
    padding: 1em;
}

#inverter-card .title .name {
    font-size: 1.5em;
}

#inverter-card .title i {
    font-size: 2em;
}

#inverter-card .title i.on {
    color: #ffffff;
}

#inverter-card .status {
    font-size: 1.1em;
    float: right;
}

#inverter-card .title.Offline {
    background: #ff6f6d;
}

#inverter-card .tool-bar {
    margin: 10px 0;
    border-bottom: 1px solid #747474;
}

#inverter-card .tool-bar a {
    color: inherit;
    text-decoration: none;
}

#inverter-card .tool-bar a:hover {
    color: #747474;
}

#inverter-card .tool-bar i {
    font-size: 2em;
    padding-left: 1em;
    padding-right: 1em;
}

#inverter-card .pdc-pac {
    border-bottom: 1px dashed #747474;
    padding: 10px;
    position: relative;
}

#inverter-card .pdc-pac .pdc {
    float: left;
    display: inline-block;
}

#inverter-card .pdc-pac .pac {
    float: right;
    display: inline-block;
}

#inverter-card .pdc-pac .split {
    background: #ffffff;
    position: absolute;
    left: 49%;
    bottom: -20px;
}

#inverter-card .pdc-pac .split i {
    font-size: 3em;
}

#inverter-card .q {
    padding: 10px;
    margin-top: 10px;
    text-align: right;
}

#inverter-card .term-dprod {
    padding: 10px;
}

#inverter-card .term-dprod span {
    color: #3dcd58;
    display: block;
}

#inverter-card .term-dprod .term {
    float: left;
    text-align: center;
}

#inverter-card .term-dprod .dprod {
    float: right;
    text-align: center;

}

/********************* Responsive *******************/


@media screen and (max-width: 780px) {
    #login-card {
        display: block;

        max-width: 500px;
        margin: 0 auto;
    }

    #login-card-bottom {
        position: relative;
        width: 100%;
        left: auto;
        top: auto;
        bottom: auto;
        text-align: center;
    }

    #login-card-top {
        top: 0;
        left: 0;
        width: 100%;
    }

    #login-card-top .conext-viewer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    #login-card-bottom,
    #login-card-bottom a {
        color: #000000;
    }

    #login-card-body .left,
    #login-card-body .right {
        display: block;
        width: 100%;
        border: none;
    }

    #login-card-body .left,
    #login-card-top {
        min-height: 500px;
        height: 100vh;
    }

    #login-card-body .footer-logo {
        text-align: center;
        position: relative;
    }
}
