<div id="inverter-card">
	<div ng-class="data.status" class="title">
		<div class="name">{{data.name}}</div>
		<i class="icon-sun on"></i>
		<i class="icon-sun on"></i>
		<i class="icon-sun off"></i>
		<div class="status">{{data.status}}</div>
	</div>
	<div class="tool-bar">
		<a href="#"><i class="icon-achealth"></i></a>
		<a href="#"><i class="icon-dchealth"></i></a>
		<a href="#"><i class="icon-apower"></i></a>
		<a href="#"><i class="icon-env"></i></a>
		<a href="#"><i class="icon-rpower"></i></a>
		<a href="#"><i class="icon-derating"></i></a>
		<a href="#"><i class="icon-gfault"></i></a>
		<a href="#"><i class="icon-smode"></i></a>

	</div>
	<div class="pdc-pac">
		<div class="pdc">Pdc <span>{{data.pdc}}</span>kW</div>
		<div class="pac">Pac <span>{{data.pac}}</span>kW</div>
		<div class="clear-fix"></div>
		<div class="split"><i class="icon-invert"></i></div>
	</div>
	<div class="q">Q <span>{{data.q}}</span>kVar</div>
	<div class="term-dprod">
		<div class="term">Internal Temperature <span>{{data.term}} &#8451;</span></div>
		<div class="dprod">Daily Production <span>{{data.dprod}} kWh</span></div>
	</div>
</div>