<div id="login-card">
<div id="login-card-top">
	<div class="conext-viewer">
		<i class="icon-conext"></i>
		<h1>Conext Viewer</h1>
		<h3>0.1.6</h3>
	</div>
</div>
<div id="login-card-body">

	<div class="left">

	</div>
	<div class="right">
		<div class="status-form">
			<h2 class="title">SPS detected</h2>
			<div class="refresh">
				<button type="button" class='btn btn-default' ng-click="refresh()"><i class="icon-loop"></i></button>
			</div>
			<p class="form-group">Last refresh: {{refresh_time|date:'medium'}}</p>
			<div class="btn-group select-list" uib-dropdown>
				<button id="btn-append-to-single-button" type="button" class="btn btn-default" uib-dropdown-toggle>
					-Please Choose-  <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
					<li role="menuitem"><a href="#">Action</a></li>
					<li role="menuitem"><a href="#">Another action</a></li>
					<li role="menuitem"><a href="#">Something else here</a></li>
					<li class="divider"></li>
					<li role="menuitem"><a href="#">Separated link</a></li>
				</ul>
			</div>
			<p class="form-group"><br>Please select an IP</p>

		</div>
		<div class="login-form">
			<form ng-submit="tryLogin()">
				<div ng-if="errorMessage" uib-alert class="alert-danger" close="closeAlert()">{{errorMessage}}</div>
				<p class="form-group">
					<input type="text" ng-model="userName" class="form-control" required="required" placeholder="User name">
				</p>
				<p class="form-group">
					<input type="password" ng-model="password" class="form-control" required="required" >
				</p>
				<p class="form-group">
				<button class="btn btn-default btn-form submit" >Login</button>
				</p>
			</form>
			<p class="form-group">
				<button class="btn btn-default btn-form off-line-mode" >Off-line mode</button>
			</p>
		</div>
		<div class="footer-logo">
			<a href="#">
				<img src="/assets/images/schneider_LIO_Life-Green_RGB.png" alt="Logo" width="180">
			</a>
		</div>
	</div>
</div>
<div id="login-card-bottom">
	<div class="footer-info">
		<i class="icon-info"></i><a href="#">Learn more about Conext Viewer</a>
		<p>
			This application is protected by copyright law and international treaties.<br>
			&copy; 2016 Schneider Electric Solar Inverters USA, Inc. All rights reserved.
		</p>
	</div>
</div>
</div>